<div class="bs-component">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header app-logo">
        <a class="pull-left">
          <img src="/images/logo.png" />
        </a>
        <a class="navbar-brand">quick math notes</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="write-note-btn text-center" href="#">Write a note</a></li>
      </ul>
    </div>
  </nav>
</div>

<%= react_component('Root', notesUrl: '/data/notes.json') %>
