/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'variables';
@import 'mixins';
@import 'bootstrap';
@import 'bootswatch';

.navbar {
  .app-logo {
    .navbar-brand {
      @include no-select();

      color: $gray-light;
      margin-left: 0 !important;

      &:hover {
        color: $gray-light;
      }
    }
  }

  .navbar-nav {
    margin-bottom: 0;

    .write-note-btn {
      @extend .btn-success;

      font-weight: bolder;

      &:hover, &:active, &:focus {
        background-color: darken($brand-success, 10%) !important;
      }
    }
  }
}

.note-list {
  @extend .col-xs-8;
  @extend .col-xs-offset-2;

  .note {
    @extend .list-group-item;
    @include shadow-box();

    margin-bottom: 21px;

    &:hover {
      background-color: $gray-lightest !important;
    }

    .note-header {
      @extend .text-muted;

      h6 {
        display: inline-block;
      }

      button {
        @extend h1;
        @extend .pull-right;

        margin: -5px;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
      }
    }

    hr {
      margin: 10px -15px;
    }

    .note-body {
      @extend .list-group-item-text;
    }
  }
}
